<footer class="container-fluid desk">
    <div class="row foot">
      <div class="row col-12">
        <h5 class="col-4 loc">Contactanos</h5>
        <h5 class="col-3 loc">Seguinos</h5>
        <h5 class="col-3 loc">Mapa del sitio</h5>
      </div>

      <div class="row col-12" style="padding-top: 0px; display: flex; align-items: start;padding-top: 30px;">
        <div class="col-4">
          <div class="col-12">
            <i class="fas fa-phone redess"></i><p class="direc">Tel: (011) 4292-2898</p> <br>
            <i class="fas fa-envelope redess"></i><p class="direc">ciplomas@gmail.com</p> <br>
            <div class="col-12" style="padding: 0px !important;padding-right: 0px !important;padding-left: 0px !important; display: flex;align-items: center;">
              <i class="fas fa-map-marker-alt redess"></i><p class="direc col-11" style="margin: 0px;">Monseñor Schell 197 - Lomas de Zamora - Buenos Aires</p> </a>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="col-12">
            <i class="fab fa-facebook redess"></i><a target="_blank" class="linkk" href="https://www.facebook.com/CIP-Centro-Integral-de-Psicolog%C3%ADa-1489883937902216/"> <p style="display: inline-block;">/centrocip </p> </a> <br>
          
            <i class="fab fa-instagram redess"></i><a target="_blank" class="linkk" href="https://www.instagram.com/ciplomas/"><p style="display: inline-block;">@centrocip </p></a>

          </div>
        </div>

        <div class="col-3">
          <ul class="navFoot col-12"> 
            <li><a class="linkk" href="/"> Inicio </a></li>
            <li><a class="linkk" href="/tratamientos"> Tratamientos </a></li>
            <li><a class="linkk" href="/profesionales"> Profesionales </a></li>
            <li><a class="linkk" href="/nosotros"> Nosotros </a></li>
            <li><a class="linkk" href="/actividades"> Actividades </a></li>
            <li><a class="linkk" href="/contacto">Contacto </a></li>
          </ul>
        </div>

        <div class="col-2" style="display: flex;justify-content: center;align-items: center">
          <img src="/images/logoFoot1.jpeg" alt="" width="80%">
        </div>
      </div>
    </div>
</footer>



  <footer class="container-fluid mobile">
    <div class="row">

      <div class="col-12" style="margin-bottom: 60px;">
        <h5 class="col-12 loc">Contactanos</h5>
        <div class="col-12">
          
          <div class="col-12" style="display: flex;justify-content: center;"> <i class="fas fa-phone redess"></i><p class="direc">Tel: (011) 4292-2898</p> </div> 
          <div class="col-12" style="display: flex;justify-content: center;"> <i class="fas fa-envelope redess"></i><p class="direc">ciplomas@gmail.com</p> </div> 
          <div class="col-12" style="display: flex;justify-content: center;"> <i class="fas fa-map-marker-alt redess"></i><p class="direc" style="margin: 0px !important;">Monseñor Schell 197 - Lomas de Zamora -</p> </div>
          <div class="col-12" style="display: flex;justify-content: center;"> <p class="direc" style="margin: 0px !important;">Buenos Aires </p></div>
        </div>
      </div>

      <div class="col-12" style="margin-bottom: 60px;">
        <h5 class="col-12 line">Seguinos</h5>
        <div class="col-12" style="display: flex;justify-content: center;">
          <i class="fab fa-facebook col-2 redess" style="display: flex;justify-content: center;align-items: center;"></i><p style="margin-bottom: 0px;"> <a class="linkk" target="_blank" href="https://www.facebook.com/CIP-Centro-Integral-de-Psicolog%C3%ADa-1489883937902216/"> /centrocip </a> </p>
        </div>
        <div class="col-12" style="display: flex;justify-content: center;">
          <i class="fab fa-instagram col-2 redess" style="display: flex;justify-content: center;align-items: center;"></i><p style="margin-bottom: 0px;"> <a class="linkk" target="_blank" href="https://www.instagram.com/ciplomas/"> @centrocip </a> </p>
        </div>
      </div>

      <div class="col-12" style="margin-bottom: 0px;">
        <h5 class="col-12 loc">Mapa del sitio</h5>
        <ul class="navFoot col-12"> 
          <li class="site"><a class="linkk" href="/"> Inicio </a></li>
          <li class="site"><a class="linkk" href="/tratamientos"> Tratamientos </a></li>
          <li class="site"><a class="linkk" href="/profesionales"> Profesionales </a></li>
          <li class="site"><a class="linkk" href="/nosotros"> Nosotros </a></li>
          <li class="site"><a class="linkk" href="/actividades"> Actividades </a></li>
          <li class="site"><a class="linkk" href="/contacto">Contacto </a></li>
        </ul>
      </div>
    </div>
  </footer>