<head>
    <link rel='stylesheet' href='/stylesheets/home.css'/>
    <link rel="icon" type="image/png" href="/images/logo1.png">
    <link rel="stylesheet" href="/stylesheets/whatsapp.css">
</head>
<header style="display: flex;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 col-md-3 mobile navm">
            <i class="fas fa-bars"></i>
        </div>
        <div class="col-8 col-md-5 col-lg-2 logo">
          <a href="/"> <img class="logo" src="/images/logoH.png" alt="" width="100%" height="80px"></a>
        </div>
        <nav class="col-8 desk">
            <div class="col-2 sec">
              <a class="link" href="/"><!--<i class="fas fa-hand-spock"></i>--> Inicio </a>
            </div>
            <div class="col-2 sec">
              <a class="link" href="/tratamientos"><!--<i class="fas fa-hand-spock"></i>--> Tratamientos </a>
            </div>
            <div class="col-2 sec">
              <a class="link" href="/profesionales"><!--<i class="fas fa-users"></i>--> Profesionales </a>
            </div>
            <div class="col-2 sec">
              <a class="link" href="/nosotros"><!--<i class="fas fa-users"></i>--> Nosotros </a>
            </div>
            <div class="col-2 sec">
              <a class="link" href="/actividades"><!--<i class="fas fa-angle-right"></i>--> Actividades </a>
            </div>
            <div class="col-2 sec ultimo">
              <a class="link" href="/contacto"><!--<i class="far fa-arrow-alt-circle-right"></i>--> Contacto </a>
            </div>
          
        </nav>
        <div class="col-2 navm" style="display: flex; justify-content: space-evenly;">
            <a href="https://www.facebook.com/CIP-Centro-Integral-de-Psicolog%C3%ADa-1489883937902216/" class="redes" target="_blank"><i class="fab fa-facebook-square" style="font-size: 28px;"></i></a>
            <a href="https://www.instagram.com/ciplomas/" target="_blank" class="redes"><i class="fab fa-instagram desk" style="font-size: 28px;"></i></a>
        </div> 
      </div>
      <!--<div class="col-4" style="display: flex;align-items: center;justify-content: end;">
        <div class="row iconos">
          <div class="col-4 icono">
            <i class="far fa-envelope"></i>
          </div>
          <div class="col-4 icono">
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>-->
    </div>
  </header>
  <script src="/javascripts/navbar.js"></script>
  <div class="navbar mobile">
    <ul class="navbarUl col-12"> 
      <li><a class="link" href="/"> Inicio </a></li>
    
      <li><a class="link" href="/tratamientos"> Tratamientos </a></li>
    
    
      <li><a class="link" href="/profesionales"> Profesionales </a></li>
    
      <li><a class="link" href="/nosotros"> Nosotros </a></li>

      <li><a class="link" href="/actividades"> Actividades </a></li>
    
    
      <li><a class="link" href="/contacto">Contacto </a></li>
    </ul>
  </div>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=541167048339&text=Hola." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a> -->