.banner {
    padding-top: 201px !important;
    height: 231px !important;
    background: linear-gradient(#034f84, #00B7FF);
    box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.2);
}
h2{
    padding-top: 30px;
    text-align: start !important;
}
p{
    margin-bottom: 0px;
    padding-bottom: 16px;
}
main{
    padding-top: 30px !important;
}