<!DOCTYPE html>
<html>
  <head>
    <title>Centro CIP</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f959a7d319.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include("partials/header.ejs")%>
    <main class="container-fluid mobile">
      <div class="row">
        <img src="/images/afuera3.jpeg" alt="" class="col-12" style="padding: 0px; width: 100%;">
        <p class="col-12 quees2" style="margin: 0px;">CENTRO INTEGRAL DE PSICOLOGÍA</p>
        <p class="col-12 quees"><strong>El Centro Integral de Psicología (CIP)</strong> es una institución dedicada a la atención psicológica de niños, adolescentes y adultos. Nuestro equipo está conformado por profesionales del área de la psicología, la psicopedagogía y la fonoaudiología.
        </p>
        <p class="col-12">
          Desde hace años que trabajamos para brindar un espacio de tratamiento y de solución para las problemáticas que presentan los pacientes. Ofrecemos un ámbito profesional y personal de escucha y abordaje en diferentes situaciones.
        </p>
        <img src="/images/interior2.jpg" alt="" class="col-12" style="padding: 0px; width: 100%;">
        <p class="col-12 quees2">¿Cuándo podemos consultar?</p>
        <p class="col-12">En aquellos momentos de nuestras vidas en los cuales necesitamos realizar un cambio. Cuando queremos resolver cuestiones que nos aquejan, que nos angustian. Cuando pasamos una situación de duelo, una dificultad familiar, una problemática de pareja, sentimental, laboral, interpersonal, educativa. Ante dificultades de aprendizaje, y problemáticas o trastornos del habla.Cuando necesitamos saber quiénes somos, quiénes fuimos y quiénes queremos ser. En situaciones en que los mandatos nos incomodan. Cuando los síntomas hablan por nosotros. Cuando nuestro cuerpo, nuestra sexualidad, nos generan inquietudes. O cuando atravesamos una enfermedad. En los momentos en que sentimos que solos no podemos, el CIP puede ser un espacio para el tratamiento, la escucha, la orientación y el acompañamiento en la resolución de las dificultades que podemos estar atravesando. Es un lugar para pensar, para trabajar y para resolver. Para poner en palabras lo que cuesta elaborar. Para escucharse a uno mismo desde un otro. Para trabajar aquello que sentimos que está pendiente. O para resolver e imprimir un giro en nuestras vidas.</p>
      </div>
    </main>
    <main class="container-fluid desk">
      <div class="row">
        <div class="col-12" style="height: 400px;">
          <div class="row">
            <img src="/images/afuera4.jpg" alt="" class="col-6" style="padding: 0px;height: 400px;">
            <div class="col-6" style="padding: 0px;">
              <p class="col-12 quees2" style="margin: 0px;">CENTRO INTEGRAL DE PSICOLOGÍA</p>
              <p class="col-12 quees"><strong>El Centro Integral de Psicología (CIP)</strong> es una institución dedicada a la atención psicológica de niños, adolescentes y adultos. Nuestro equipo está conformado por profesionales del área de la psicología, la psicopedagogía y la fonoaudiología.
              </p>
              <p class="col-12">
                Desde hace años que trabajamos para brindar un espacio de tratamiento y de solución para las problemáticas que presentan los pacientes. Ofrecemos un ámbito profesional y personal de escucha y abordaje en diferentes situaciones.
              </p>
            </div>
          </div>
        </div>
        <div class="col-6" style="padding: 0px;">
          <p class="col-12 quees2">¿Cuándo podemos consultar?</p>
          <p class="col-12">En aquellos momentos de nuestras vidas en los cuales necesitamos realizar un cambio. Cuando queremos resolver cuestiones que nos aquejan, que nos angustian. Cuando pasamos una situación de duelo, una dificultad familiar, una problemática de pareja, sentimental, laboral, interpersonal, educativa. Ante dificultades de aprendizaje, y problemáticas o trastornos del habla.Cuando necesitamos saber quiénes somos, quiénes fuimos y quiénes queremos ser. En situaciones en que los mandatos nos incomodan. Cuando los síntomas hablan por nosotros. Cuando nuestro cuerpo, nuestra sexualidad, nos generan inquietudes. O cuando atravesamos una enfermedad. En los momentos en que sentimos que solos no podemos, el CIP puede ser un espacio para el tratamiento, la escucha, la orientación y el acompañamiento en la resolución de las dificultades que podemos estar atravesando. Es un lugar para pensar, para trabajar y para resolver. Para poner en palabras lo que cuesta elaborar. Para escucharse a uno mismo desde un otro. Para trabajar aquello que sentimos que está pendiente. O para resolver e imprimir un giro en nuestras vidas.</p>
        </div>
        <img src="/images/interior2.jpg" alt="" class="col-6" style="padding: 0px;">
      </div>
    </main>
    <%- include("partials/footer.ejs")%>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>


