<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CIP</title>
        <link rel='stylesheet' href='/stylesheets/home.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/quienes.css' />
        <script src="https://kit.fontawesome.com/f959a7d319.js" crossorigin="anonymous"></script>
    </head>
<body>
    <%- include("partials/header.ejs")%>
    <div class="col-12 banner"></div>
    <main class="container-fluid">
       
        <h2 class="col-12" style="padding-top: 40px;">Socios</h2>
        <div class="container">
            <div class="row">
                <div class="col-12 card">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12">
                            <h3 class="col-12 text nombre">Lic. Giannettasio, Mariano </h3>
                            <p class="col-12 text">Licenciado en Psicología. Atención de adultos y adolescentes. Exintegrante de la cátedra psicoanalítica Clínica de la Urgencia de la Facultad de Psicología U.B.A. Profesor en enseñanza media y superior en Psicología U.B.A.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 card">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12">
                            <h3 class="col-12 text nombre">Lic. López, Raúl </h3>
                            <p class="col-12 text">Psicológo Clínico. Atención a adolescentes, adultos, pareja y familia. Orientación a padres.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 card">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12">
                            <h3 class="col-12 text nombre">Lic. Recalde, Ana</h3>
                            <p class="col-12 text">Licenciada en Psicología. Profesora universitaria en Psicología.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 card">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12">
                            <h3 class="col-12 text nombre">Lic. Roasio, Alicia </h3>
                            <p class="col-12 text">Psicóloga Clínica. Profesora en Psicopedagogía. Atención a adolescentes, adultos y familias. Orientación a padres. Orientadora escolar del Instituto de Nuestra Sra. de Lourdes, Banfield.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="col-12" style="margin-top: 40px;">Otros profesionales del equipo del CIP</h2>
        <div class="container">
            <div class="row">
                <div class="col-12 card">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12">
                            <h3 class="col-12 text nombre">Lic. Gago, Maria Sol </h3>
                            <p class="col-12 text">Psicóloga Clínica. Atención a niños, adolescentes y adultos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 card">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12">
                            <h3 class="col-12 text nombre">Hermida, Silvia Patricia</h3>
                            <p class="col-12 text">Psicopedagoga. Profesora de nivel inicial y primario. Exinspectora de Nivel Inicial Región 5. Profesora del Instituto de Formación Docente. Atención psicopedagógica a niños, adolescentes y adultos mayores. Abordaje a la discapacidad. Asesoramiento en proyectos de inclusión.Orientación vocacional. Asesoramiento y capacitación a instituciones y docentes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 card">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12">
                            <h3 class="col-12 text nombre">Lic. Roasio, Gina </h3>
                            <p class="col-12 text">Licenciada en Psicología. Atención a niños, adolescentes y adultos. Orientación a padres. Ex-concurrente Servicio Hospital de día y guardia Hospital Infanto Juvenil Carolina Tobar García.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 card">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12">
                            <h3 class="col-12 text nombre">Lic. Rúa, Elena</h3>
                            <p class="col-12 text">Fonoaudióloga. Terapia del Lenguaje. Atención de niños, adolescentes y adultos. Ex Docente de Psicología I, II y III y Jefa de trabajos prácticos de la Carrera de Licenciatura en Fonoaudiología, U.B.A. Fonoaudióloga del Centro de Día Betania, para jóvenes y adultos con discapacidad mental de Turdera y de la Escuela C.A.R.I. para niños y jóvenes con discapacidad mental de Lomas de Zamora.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 card">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-12">
                            <h3 class="col-12 text nombre">Lic. Soler, Mariana </h3>
                            <p class="col-12 text">Psicoanalista. Atención de niños, adolescentes, adultos y familia. Docente de grado de la facultad de Psicología U.B.A.: JTP de cátedra de Psicología Evolutiva, Adolescencia II y de Problemáticas Clínicas en niñez, adolescencia y familia. Directora de Programa de Extensión Universitaria-Ubanex 2014: Educación y salud sexual en el crecimiento de niños y adolescentes. Talleres en escuelas como dispositivo de intervención. Psicóloga del Centro de Día Betania para jóvenes y adultos con discapacidad mental. Directora del Espacio de Formación de discapacidad.</p>
                        </div>
                    </div>
                </div>
                <p style="margin-top: 20px;margin-bottom: 0px;" class="consultor"> Profesional Consultor: Paula Echegoyen (Médica psiquiatra)</p>
            </div>
        </div>
    </main>
    <%- include("partials/footer.ejs")%>
</body>
</html>